/*GENERAL*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid pink;
}

body{

}


h1, h2, h3, h4 {

}


p{

}

a{

}

i{

}

nav{

}

nav a{

}

button{

}



/*HEADER*/
header{

}


/*SECTION ABOUT*/
.about h2{

}

/*THIS IS A SECTION*/

/*THIS IS A SECTION*/


/*FOOTER*/
